@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
@import "tailwindcss";

@theme {
  --font-anton: 'Anton', sans-serif;
  --font-roboto: 'Roboto Flex', sans-serif;

  --color-bg: #1a1a1a;
  --color-bg-light: #242424;
  --color-fg: #f0f0f0;
  --color-muted: #808080;
  --color-border: #3a3a3a;
  --color-accent: #22c55e;
}

@layer base {
  ::-webkit-scrollbar {
    display: none;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    background-color: var(--color-bg);
    color: var(--color-fg);
    font-family: var(--font-roboto);
    overflow-x: hidden;
  }
  @media (min-width: 768px) {
    * {
      cursor: none !important;
    }
  }
}
